* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

.book-link {
  text-decoration: none;
  color: #065535;
  font-weight: bold;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #f4f4f4;
  background-color: #065535;
  box-shadow: 0 0 4px #333333;
  width: 100%;
  height: 10%;
}

/* Home Page */

.App {
  background-color: white;
  border: none;
  min-width: 500px;
  width: 50%;
  height: 90%;
  box-shadow: 0 4px 8px gray;
  overflow: auto;
}

#book-container {
  padding: 20px;
  margin: 0 20px;
}

.add-book-button {
  padding: 10px;
  background-color: #065535;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
}

.add-book-button:hover {
  opacity: 0.9;
}

table {
  width: 100%;
  font-size: 16px;
}

td,
th {
  text-align: left;
  padding: 10px;
}

th {
  border-bottom: 1px solid #ffa500;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.book-title {
  width: 60%;
}

.book-author {
  width: 20%;
}

.book-genre {
  width: 20%;
}

.book-year {
  width: 10%;
}

.book-read {
  text-align: center;
}

.checkbox {
  margin-right: 10px;
}

/* Add new book form */
#add-book-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 500px;
  width: 50%;
  height: 90%;
  box-shadow: 0 4px 8px gray;
  overflow: auto;
}

#add-book-form h2 {
  font-size: 50px;
  margin: 50px 0;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  width: 90%;
}

.input-groups {
  width: 48%;
  margin-bottom: 20px;
  text-align: start;
}

.form-input {
  padding: 10px;
  font-size: 16px;
  min-width: 89%;
}

.comment-container {
  text-align: start;
  width: 100%;
}

.comment {
  width: 95%;
  resize: none;
  height: 80px;
  font-size: 16px;
  padding: 10px;
}

.read-container {
  display: flex;
  margin-top: 20px;
  width: 30px;
}

.read {
  margin-right: 5px;
}

.form-checkbox {
  height: 16px;
}

.form-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 97.5%;
}

.cancel-button,
.submit {
  border: none;
  color: #f5f5f5;
  padding: 10px;
  margin-right: 5px;
  font-size: 16px;
  cursor: pointer;
}

.cancel-button {
  background-color: lightgray;
  margin-right: 10px;
}

.submit {
  background-color: #065535;
}

.cancel-button:hover,
.submit:hover {
  opacity: 0.9;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

/* Book */
.book-info {
  background-color: white;
  min-width: 500px;
  width: 50%;
  height: 90%;
  box-shadow: 0 4px 8px gray;
  overflow: auto;
}

.book-info-container {
  margin: 50px 20px;
  padding: 20px;
}

.info-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 20px;
}

.book-info-container h3,
p {
  margin-bottom: 10px;
}

.book-info-title {
  font-size: 40px;
}

.book-info-author {
  font-size: 25px;
  font-style: italic;
}

.book-info-comments {
  text-align: start;
  border: none;
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 20px;
  height: 100px;
  overflow: auto;
  color: #333333;
}

.book-info-button-container {
  display: flex;
  justify-content: space-between;
  width: 74.5%;
  margin-top: 20px;
}

.edit-button {
  padding: 10px;
  font-size: 16px;
  background-color: #065535;
  color: white;
  border: none;
  width: 70px;
  cursor: pointer;
}

.delete {
  padding: 10px;
  font-size: 16px;
  background-color: #ff4040;
  color: white;
  border: none;
  cursor: pointer;
}

.edit-button:hover,
.delete:hover {
  opacity: 0.9;
}
/* Checked */

.check {
  text-decoration: line-through;
  opacity: 0.7;
}

/* 404 Error Page */
.error-container {
  background-color: white;
  border: none;
  min-width: 500px;
  width: 50%;
  height: 90%;
  box-shadow: 0 4px 8px gray;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.error-content {
  text-align: center;
  margin-top: 200px;
  color: gray;
}

.error-content h1 {
  font-size: 60px;
}

.home-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #065535;
  color: white;
  border: none;
  cursor: pointer;
}

.home-button:hover {
  opacity: 0.9;
}
