* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  background-color: #d6d6d6;
  height: 100vh;
  overflow: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  font-size: 25px;
  color: #f5f5f5;
  background-color: #065535;
  box-shadow: 0 0 4px #333333;
}

.App {
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  width: 50%;
  height: 850px;
  box-shadow: 0 0 6px gray;
}

#book-container {
  border: 1px solid black;
  padding: 20px;
}

.add-book-button {
  padding: 5px;
}

table {
  /* border-collapse: collapse; */
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}
